<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户个人管理</title>
    <base th:href="@{/}"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .div0 {
            min-width: 970px;
            background-color: #f5f6f7;
            min-height: 1000px;
        }

        /* ======================= */
        /* ===阿里图库的图片样式 === */
        /* ======================= */
        .icon {
            width: 1.3em;
            height: 1.3em;
            vertical-align: -0.3em;
            fill: currentColor;
            overflow: hidden;
        }

        .row1 {
            margin-top: 64px;
        }

        .user-top {
            height: 150px;
            background-color: rgb(255, 255, 255);
            border-radius: 6px;
        }

        .user-top-in {
            position: relative;
        }

        .user-top-in-img {
            position: absolute;
            top: 10px;
            left: 60px;
        }

        .user-top-in-name {
            text-align: center;
            width: 200px;
            position: absolute;
            top: 115px;
            left: 10px;
            color: #666;
            font-size: 17px;
            font-weight: bold;
        }

        .user-top-in-type {
            height: 80px;
            width: 84%;
            position: absolute;
            top: 60px;
            left: 15%;
        }

        .user-top-in-type1 {
            float: left;
            text-align: center;
            height: 80px;
            width: 25%;
            top: 120px;
            left: 8%;
            line-height: 10px;
        }

        .user-top-in-type2 {
            font-weight: bold;
            font-size: 16px;
            color: #555;
        }

        .user-top-in-type3 {
            font-weight: bold;
            font-size: 15px;
            line-height: 36px;
            color: #aaa;
        }

        .user-top-in-button1:hover, .user-top-in-button2:hover {
            background-color: #eee;
        }

        /* right */
        .div-right {
            display: none;
        }

        a {
            cursor: pointer;
        }

        .buttoncolor {
            background-color: #eee;
        }

        .form-button {
            text-align: center;
            position: absolute;
            background-color: rgb(46, 202, 250);
            /*font-weight: 500px;*/
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: bold;
            border-radius: 7px;
            padding: 5px;
            width: 200px;
            bottom: -55px;
            left: calc(50% - 100px);
            cursor: pointer;
        }

        .form-button:hover {
            background-color: rgb(46, 168, 206);
        }

        .list-group-item {
            background-color: rgb(248, 255, 248);
            padding: 25px 15px;
            border-left: 0px;
            border-right: 0px;
        }

        .account {

        }

        .account-list {
            height: 70px;
            font-size: 15px;
        }

        .account-list-span {
            float: right;
            margin-left: 40px;
            cursor: pointer;
            color: deepskyblue;
        }

        .account-list-span:hover {
            text-decoration: underline;
        }

        .right-bottom {
            /* border:solid 1px rgb(170, 170, 170);
            border-radius: 6px; */
            line-height: 25px;
            text-align: center;
            height: 80px;
            margin-top: 15px;
            background-color: #fff;
            font-size: 14px;
            color: #BBB;
            border-radius: 5px;
        }

        @media screen and (max-width: 1200px) {
            #myScrollspy {
                display: none;
            }
        }

        .thumbnail1 {
            opacity: 0.5;
        }

        .thumbnail1:hover {
            opacity: 0.7;
        }

        .headImgUpd:hover {
            cursor: pointer;
        }

        .albumPicHover{
            display: none
        }
    </style>
    <script src='js/iconfont.js'></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="layer/layer.js"></script>
    <script th:inline="javascript">
        let len = 0;

        function removecolor() {
            $("#button1,#button2,#button3").removeClass("buttoncolor");
            $("#luntan,#shoucang,#xiangce").addClass("div-right");
        }

        // 定义相册中当前图片的鼠标进入时触发的事件函数
        function albumPicMouseEnter(obj, idx){
            // thumbnail的样式中有内边距4px以及边框1px
            // console.log(obj.eq(idx))
            let width = obj.eq(idx)[0].offsetWidth - 4 * 2
            let height = obj.eq(idx)[0].offsetHeight - 4 * 2
            // console.log(width + " " + height)
            $(".albumPicRem").eq(idx).css({"z-index":"1","position":"absolute",
                "top":"0px", "opacity":"0.4"})

            $(".albumPicRem img").eq(idx).css({"width": width, "height":height})
            $(".albumPicRem").eq(idx).removeClass("albumPicHover")
        }

        // 定义鼠标离开“减号”图片时触发的事件函数
        function albumPicRemMouseLeave(idx){
            $(".albumPicRem").eq(idx).addClass("albumPicHover")
        }

        // 定义鼠标进入头像时触发的事件函数
        function headImgMouseEnter(){
            $(".headImgUpd").eq(0).removeClass("albumPicHover")
        }

        // 定义鼠标离开“设置”图片时触发的事件函数
        function headImgUpdMouseLeave(){
            $(".headImgUpd").eq(0).addClass("albumPicHover")
        }

        // 7、定义减号图片的点击函数，发送请求删除当前相册图片
        function remAlbumPic(obj) {
            console.log(obj)
            let albumUrl = obj.attr("src")
            console.log(albumUrl)
            $.ajax({
                url:"/user/remove/user/album?albumUrl=" + albumUrl,
                type:"get",
                dataType:"json",  //缺失会出现URL编码，无法转成json对象
                success:function(res){
                    if(res.code == "200") {
                        layer.open({
                            title: '提示',
                            content: '删除成功'
                            ,btn: ['确定']
                            ,btn1: function(index, layero){
                                layer.close(index)
                                // 刷新页面
                                window.location.reload()
                            }
                        })
                    } else {
                        layer.open({
                            title: '提示',
                            content: '删除失败，服务器繁忙'
                            ,btn: ['确定']
                            ,btn1: function(index, layero){
                                layer.close(index)
                            }
                        })
                        console.log("相册删除失败，错误信息：" + res.message)
                    }
                },
                error:function (res){
                    layer.msg("相册删除失败：" + res.status)
                    console.log("相册删除失败，错误信息：" + res.statusText)
                }
            });
        }

        $(function () {
            $("#portal").removeClass("active")
            $("#mine").addClass("active")

            // 点击后样式改变
            $("#button1").click(function () {
                removecolor();
                $("#button1").addClass("buttoncolor");
                $("#luntan").removeClass("div-right");
            });
            $("#button2").click(function () {
                removecolor();
                $("#button2").addClass("buttoncolor");
                $("#shoucang").removeClass("div-right");
            });
            $("#button3").click(function () {
                removecolor();
                $("#button3").addClass("buttoncolor");
                $("#xiangce").removeClass("div-right");
            });

            // $(":input[name='sex']").click(function (){
            //     console.log(this.value)
            // })

            // 1、页面加载时获取用户信息
            $.ajax({
                "url":"/user/get/user/detail/info/" + [[${session.loginUser.id}]],
                "type":"get",
                // "data":{
                //     "phoneNum":phoneNum
                // },
                "dataType":"json",
                "success":function(responseData){
                    let code = responseData.code;
                    if(code == "200") {
                        let data = responseData.data;

                        // 基本信息
                        if (data.headUrl != null) {
                            $(".headImg").attr("src", data.headUrl);
                        }
                        $(".user-top-in-type3").eq(0).text(data.weekRanking + 1)
                        $(".user-top-in-type3").eq(1).text(data.allRanking + 1)
                        $(".user-top-in-type3").eq(2).text(data.allVisits)
                        $(".user-top-in-type3").eq(3).text(data.fans)

                        // 对头像做悬浮样式处理


                        // 个人信息
                        $(":input[name='name']").val(data.name)
                        $(":input[name='userId']").val(data.userId)
                        if (data.sex == "男") {
                            $(":input[name='sex']").eq(0).attr("checked", "checked")
                        } else {
                            $(":input[name='sex']").eq(1).attr("checked", "checked")
                        }

                        $("#ta").val(data.introduction)
                        $(":input[name='birthday']").val(data.birthday)

                        // 账户设置
                        $("#phone").text(data.phone)
                        $("#email").text(data.email)

                        // 相册管理
                        let urls = data.albumUrls;
                        if (urls != null && urls.length != 0) {
                            let rowDiv = "<div class='row'></div>"
                            len = urls.length;
                            for (let i = 0; i < len; i++) {
                                let url = urls[i];
                                // console.log("取到的图片路径"+url)
                                let albumPic =
                                    "<div class=\"col-sm-6 col-md-3\">\n" +
                                    "    <a class=\"thumbnail albumPic\">\n" +
                                    "        <img src=\"" + url + "\" alt=\"通用的占位符缩略图\">\n" +
                                    "    </a>\n" +
                                    "    <a class=\"thumbnail albumPicHover albumPicRem\">\n" +
                                    "        <img src=\"img/-.jpg\" alt=\"通用的占位符缩略图\">\n" +
                                    "    </a>\n" +
                                    "</div>"
                                $("#albumForm").before(albumPic)
                                if ((i + 1) % 4 == 0) {
                                    $("#albumForm").before(rowDiv)
                                }

                                // 绑定鼠标进入相册图片的函数
                                $(".albumPic").eq(i).bind("mouseenter", function () {
                                    albumPicMouseEnter($(".albumPic"), i)
                                })
                                // 绑定鼠标离开减号图片的函数
                                $(".albumPicRem").eq(i).bind("mouseleave", function(){
                                    albumPicRemMouseLeave(i)
                                })
                                // 绑定鼠标点击减号图片的函数
                                $(".albumPicRem").eq(i).click(function (){
                                    remAlbumPic($(".albumPic img").eq(i))
                                })

                            }
                        }
                        // <div class="col-sm-6 col-md-3">
                        //     <a class="thumbnail">
                        //         <img class="albumPic" src="url" alt="通用的占位符缩略图">
                        //     </a>
                        //     <a class="thumbnail albumPicHover albumPicRem">
                        //         <img src="img/+.jpg" alt="通用的占位符缩略图">
                        //     </a>
                        // </div>
                    } else {
                        layer.msg("获取用户信息失败：" + responseData.message);
                    }

                },
                "error":function(response){
                    layer.msg(response.status + " " + response.statusText);
                }

            })

            // 绑定鼠标进入头像图片的函数
            $(".headImg").eq(0).bind("mouseenter", function () {
                headImgMouseEnter()
            })
            // 绑定鼠标离开头像设置图片的函数
            $(".headImgUpd").eq(0).bind("mouseleave", function(){
                headImgUpdMouseLeave()
            })

            /**
             * 定义函数：自动将form表单封装成json对象
             */
            // $.fn.serializeObject = function() {
            //     var o = {};
            //     var a = this.serializeArray();
            //     $.each(a, function() {
            //         if (o[this.name]) {
            //             if (!o[this.name].push) {
            //                 o[this.name] = [ o[this.name] ];
            //             }
            //             o[this.name].push(this.value || '');
            //         } else {
            //             o[this.name] = this.value || '';
            //         }
            //     });
            //     return o;
            // };

            // 2、json格式提交表单数据
            $(".form-button").click(() => {
                // console.log(JSON.stringify($("#personalInfoForm")))
                // console.log(JSON.stringify($("#personalInfoForm").serializeObject()))
                // console.log(typeof ($(":input[name='userId']").val()))
                // console.log($(":input[name='name']").val())
                // console.log($("input[name='sex']:checked").val())
                // console.log($(":input[name='birthday']").val())
                // console.log($(":input[name='introduction']").val())
                let data = {
                    "name": $(":input[name='name']").val(),
                    "userId": $(":input[name='userId']").val(),
                    "sex": $("input[name='sex']:checked").val(),
                    "birthday": $(":input[name='birthday']").val(),
                    "introduction": $(":input[name='introduction']").val()
                }
                $.ajax({
                    "url":"/user/upd/user/detail/info",
                    "type":"post",
                    "data":JSON.stringify(data),
                    "contentType":"application/json;charset=utf-8",  //缺失会出现URL编码，无法转成json对象
                    "dataType":"json",
                    "success":function(res){

                        if(res.code == "200") {
                            layer.msg("保存成功")
                        } else {
                            layer.msg("保存失败：" + res.code)
                            console.log("个人信息保存失败，错误信息：" + res.message)
                        }
                    },
                    "error":function (res){
                        layer.msg("保存失败：" + res.status)
                        console.log("个人信息保存失败，错误信息：" + res.statusText)
                    }
                });
            })

            // 3、修改密码、手机、邮箱的函数
            function updAccountInfo(userId, password, phone, email) {
                let queryData = {
                    "userId": userId,
                    "password": password,
                    "phone": phone,
                    "email": email
                }
                $.ajax({
                    url:"/user/upd/user/detail/info",
                    type:"POST",
                    data:JSON.stringify(queryData),
                    contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
                    success:function(res){
                        $("#updModal").modal("hide");
                        if(res.code == "200") {
                            if (phone === "" || phone){
                                $("#phone").text(phone)
                            } else if (email === "" || email) {
                                $("#email").text(email)
                            }
                            layer.msg("修改成功")
                        } else {
                            layer.msg("修改失败：" + res.code)
                            console.log("账户信息修改失败，错误信息：" + res.message)
                        }
                    },
                    error:function (res){
                        layer.msg("修改失败：" + res.status)
                        console.log("账户信息修改失败，错误信息：" + res.statusText)
                    }
                });
            }

            let curUpdType = ""

            // 4、模态框弹出定制函数
            function showUpdModal(type, placeholder, title) {
                $("#updRgx").text("")
                $(":input[name='updInput']").val("")
                $(":input[name='updInput']").attr("type", type)
                $(":input[name='updInput']").attr("placeholder", placeholder)
                $(".modal-title").text(title)
                $("#updModal").modal("show");
            }

            // 5、分别绑定账号管理模块下几个模态框弹出并对其按钮事件进行处理
            $(".account-list-span").eq(0).click(function (){
                curUpdType = "password"
                showUpdModal("password", "请输入密码", "修改密码")
                $("#updBtn").click(function (){
                    if (curUpdType == "password") {
                        let userId = $(":input[name='userId']").val()
                        let password = $(":input[name='updInput']").val()
                        if (password === null || password === "") {
                            // console.log(password)
                            // console.log(password === null)
                            $("#updRgx").text("密码不能修改为空")
                            return ;
                        }
                        updAccountInfo(userId, password)
                    }
                })
            })
            $(".account-list-span").eq(1).click(function (){
                curUpdType = "phone"
                showUpdModal("text", "请输入手机号", "修改手机")
                $("#updBtn").click(function (){
                    if (curUpdType == "phone") {
                        let rgxExp = /^[1][3,4,5,7,8][0-9]{9}$/
                        let rgxErrInfo = "请输入正确的手机号"
                        let userId = $(":input[name='userId']").val()
                        let phone = $(":input[name='updInput']").val()
                        if (phone === "" || rgxExp.test(phone)) {
                            updAccountInfo(userId, null, phone)
                        } else {
                            $("#updRgx").text(rgxErrInfo)
                            return ;
                        }
                    }
                })
            })
            $(".account-list-span").eq(2).click(function (){
                curUpdType = "email"
                showUpdModal("text", "请输入邮箱", "修改邮箱")
                $("#updBtn").click(function (){
                    if (curUpdType == "email") {
                        let rgxExp = /^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/
                        let rgxErrInfo = "请输入正确的邮箱地址"
                        let userId = $(":input[name='userId']").val()
                        let email = $(":input[name='updInput']").val()
                        if (email === "" || rgxExp.test(email)){
                            updAccountInfo(userId, null, null, email)
                        } else {
                            $("#updRgx").text(rgxErrInfo)
                            return
                        }

                    }
                })
            })

            // 6、绑定表单ajax方式提交事件
            $("#albumForm").ajaxForm(function (res) {
                if (res.code == "200") {
                    layer.open({
                        title: '提示',
                        content: '上传成功'
                        ,btn: ['确定']
                        ,btn1: function(index, layero){
                            layer.close(index)
                            // 刷新页面
                            window.location.reload()
                        }
                    })
                } else {
                    layer.open({
                        title: '提示',
                        content: '服务器繁忙'
                        ,btn: ['确定']
                        ,btn1: function(index, layero){
                            layer.close(index)
                        }
                    })
                    console.log("相册上传失败，错误信息：" + res.message)
                }
            })

            $("#headForm").ajaxForm(function (res) {
                if (res.code == "200") {
                    layer.open({
                        title: '提示',
                        content: '头像上传成功'
                        ,btn: ['确定']
                        ,btn1: function(index, layero){
                            layer.close(index)
                            // 刷新页面
                            window.location.reload()
                        }
                    })
                } else {
                    layer.open({
                        title: '提示',
                        content: '头像上传失败，服务器繁忙'
                        ,btn: ['确定']
                        ,btn1: function(index, layero){
                            layer.close(index)
                        }
                    })
                    console.log("相册上传失败，错误信息：" + res.message)
                }
            })
        });
    </script>
</head>
<body>
    <div class="div0">
        <div th:replace="nav-head :: head"></div>
        <div th:replace="modal-upd :: upd"></div>
        <div class="container">
            <div class="row row1">
                <div class="col-lg-12" style="">

                    <div class="user-top">
                        <div class="user-top-in">
                            <form id="headForm" method="post" enctype="multipart/form-data" action="/user/upd/user/head/url">
                                <input type="file" name="file" id="headImg" style="display: none" />
                            </form>
                            <label for="headImg">
                                <img src="https://static.runoob.com/images/mix/img_avatar.png"
                                     class="img-circle user-top-in-img headImg" style="width:100px">
                                <img src="img/setting.png"
                                     class="img-circle user-top-in-img headImgUpd albumPicHover" style="z-index:2;opacity:0.4;width:100px">
                            </label>
                            <th:block th:if="${session.loginUser} != null">
                                <div class="user-top-in-name">[[${session.loginUser.name}]]</div>
                            </th:block>
                            <div class="user-top-in-type">
                                <div class="user-top-in-type1">
                                    <span class="user-top-in-type2">周排名</span><br><span
                                        class="user-top-in-type3">54345</span>
                                </div>
                                <div class="user-top-in-type1">
                                    <span class="user-top-in-type2">总排名</span><br><span
                                        class="user-top-in-type3">45456</span>
                                </div>
                                <div class="user-top-in-type1">
                                    <span class="user-top-in-type2">访问量</span><br><span
                                        class="user-top-in-type3">5565</span>
                                </div>
                                <div class="user-top-in-type1">
                                    <span class="user-top-in-type2">粉丝</span><br><span class="user-top-in-type3">456</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="margin-top: 10px;">
                        <ul class="nav nav-tabs">
                            <li><a id="button1" class="buttoncolor">个人信息</a></li>
                            <li><a id="button2">账户设置</a></li>
                            <li><a id="button3">相册管理</a></li>
                        </ul>
                        <div class="panel-body">
                            <!-- 论坛 -->
                            <div class="" id="luntan" style="position: relative;margin-bottom: 60px;">
                                <form id="personalInfoForm" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            用户昵称
                                        </label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="name" id="name" type="text" value="d撒打算"
                                                   style="width: 80%;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            用户ID
                                        </label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="userId" type="text" value="123456"
                                                   style="width: 80%;" disabled>
                                        </div>
                                    </div>
                                    <label for="name" class="col-sm-2 control-label"
                                           style="margin-left: -15px;margin-right: 15px;">性别</label>
                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" id="optionsRadios3"
                                                   value="男"> 男
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" id="optionsRadios4"
                                                   value="女"> 女
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            用户简介
                                        </label>
                                        <div class="col-sm-10">
                                            <textarea id="ta" name="introduction" class="form-control" rows="3" style="width: 80%;"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            生日
                                        </label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="birthday" type="date" placeholder="未填写"
                                                   style="width: 80%;">
                                        </div>
                                    </div>
                                    <div class="form-button">
                                        保存
                                    </div>
                                </form>
                            </div>
                            <!-- 收藏 -->
                            <div class="div-right" id="shoucang">
                                <div class="">
                                    <ul class="list-group" style="background-color: #eee;">
                                        <li class="list-group-item account-list">密码<span
                                                class="account-list-span">修改密码</span><span
                                                style="float: right;" id="pwd">********</span></li>
                                        <li class="list-group-item account-list">手机<span
                                                class="account-list-span">修改手机</span><span
                                                style="float: right;" id="phone">147*****21</span></li>
                                        <li class="list-group-item account-list">邮箱<span
                                                class="account-list-span">修改邮箱</span><span
                                                style="float: right;" id="email">9995**@*.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- xiangce -->
                            <div class="div-right" id="xiangce">
                                <div class="row">
                                    <form id="albumForm" method="post" enctype="multipart/form-data" action="/user/save/user/album">
                                        <label for="file" class="col-sm-6 col-md-3">
                                            <a  class="thumbnail">
                                                <img src="img/+.jpg"
                                                     alt="通用的占位符缩略图" class="thumbnail1">
                                            </a>
                                        </label>
                                        <input type="file" name="file" id="file" style="display: none" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-bottom">
                        <div class="">
                            <span style="font-size: 14px;">关于我们 招贤纳士 广告服务 开发助手 400-660-XXXXX@qq.com 客服工作时间 8:30-22:00</span><br>
                            <span style="font-size: 12px;">公安备案号1101050xxxxxx 京ICP备19xxxxxx号京网文〔2021〕1039-165号 经营性网站备案信息 北京互联网违法和不良信息举报中心</span><br>
                            <span style="font-size: 12px;">网络110报警服务 中国互联网举报中心 家长监护 Chrome商店下载 ©1999-2021北京创新乐知网络技术有限公司 版权与免责声明 版权申诉</span><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('file').onchange = function() {
        // let that = this
        // console.log("文件正在上传到页面端")
        let toUploadFile = this.files[0];
        let fr = new FileReader();
        let rowDiv = "<div class='row'></div>"
        let toUploadPic =
            "<div id='toUploadPic' class=\"col-sm-6 col-md-3\">\n" +
            "    <a class=\"thumbnail\">\n" +
            "        <img id='uploadImg' alt=\"通用的占位符缩略图\">\n" +
            "    </a>\n" +
            "</div>"

        $("#albumForm").before(toUploadPic)
        if ((len + 1 + 1) % 4 == 0) {
            $("#albumForm").before(rowDiv)
        }
        fr.onload = function () {
            $("#uploadImg").attr("src", fr.result) //设置欲上传图片的src值
        };
        fr.readAsDataURL(toUploadFile);

        // 弹框提示是否上传
        layer.open({
            title: '上传确认',
            content: '是否将当前添加的图片上传到您的个人相册中'
            ,btn: ['上传', '撤销']
            ,btn1: function(index, layero){
                layer.close(index)
                // 执行表单上传
                $("#albumForm").submit()
                // console.log("表单已上传")
            }
            ,btn2: function(index, layero){
                // 将图片删除
                $("#toUploadPic").remove()
                // 重置表单
                $("#albumForm")[0].reset()
                // console.log(that.value)
                // console.log(that.files[0])
            }
        })

    }
    document.getElementById('headImg').onchange = function() {
        let toUploadHeadImg = this.files[0];
        let fr = new FileReader();
        let originUrl = null;
        fr.onload = function () {
            originUrl = $(".headImg").eq(0).attr("src")
            $(".headImg").attr("src", fr.result) //设置欲上传图片的src值
        };
        fr.readAsDataURL(toUploadHeadImg);

        // 弹框提示是否上传
        layer.open({
            title: '上传确认',
            content: '是否将当前修改的头像上传到您的个人中心'
            ,btn: ['上传', '撤销']
            ,btn1: function(index, layero){
                layer.close(index)
                // 执行表单上传
                $("#headForm").submit()
                // console.log("表单已上传")
            }
            ,btn2: function(index, layero){
                // 将头像恢复
                $(".headImg").attr("src", originUrl)
                // 重置表单
                $("#headForm")[0].reset()
                // console.log(that.value)
                // console.log(that.files[0])
            }
        })

    }
</script>
</html>
